doctype html
html
  head
    //- bower:js
    script(src='/lib/jquery/dist/jquery.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.js')
    //-endbower
  
    //-bower:css
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.css')
    //-endbower
  
    //-inject:js
    script(src="/js/app.js")
    //-endinject
  
    //-inject:css
    link(rel="stylesheet", href="/css/styles.css")
    //-endinject
  
    title my jade template
  body
    h1 Hello Worlds!!